* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.fontplus {
    font-size: 135%;
}

ul li {
    list-style: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.wall {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.green {
    background-color: #009687;
    width: 100%;
    height: 140px;
}

.beige {
    background-color: #DBDBD2;
    width: 100%;
    height: calc(100vh - 140px);
}

.inner-container {
    width: 80%;
    height: 90%;
    border: 1px solid lightgray;
    background-color: white;
    margin: auto;
    display: flex;
    position:relative;
}
/* inner-sx */
.inner-sx{
width: 30%;
height: 100%;
background-color: #EDEDED;
}

.bar-sx {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

.bar-sx-sx {
    display: flex;
    align-items: center;
}

.bar-sx-sx img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.bar-sx-dx ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.bar-sx-dx ul li {
    margin-left: 8px;
}

.bar-sx-dx ul li i {
    font-size: 1.3em;
    color: #B1B1B1;
}

/* sx-down */

.bar-sx-down {
    width: 100%;
    height: 70px;
    background-color:#8EDAFC;
    display: flex;
}

.sx-down-sx {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bell {
    width: 35px;
    height: 35px;
    background-color: #CCEEFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.bell i {
    color: #8EDAFC;
}

.sx-down-dx {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sx-down-dx p a {
    font-size: 0.9em;
    color: #527A8C;
}


/* search */
.bar-sx-search {
    width: 98%;
    margin: 0 auto;
    height: 35px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.bar-sx-search:focus-within {
    border: 1px blue solid;
}

.search-sx {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-dx {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-dx input {
    width: 100%;
    height: 100%;
    border: none;
    border-style: none;
    outline: none;

}

/* contacts */

.contacts {
    width: 100%;
    height: calc(100% - 175px);
    /* background-color: chartreuse; */
    overflow-y: auto;
}

.contacts ul li {
    min-height: 60px;
    height: fit-content;
    width: 95%;
    background-color: white;
    display: flex;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.contacts ul li:hover {
    background-color: lightgray;
}

.contact-img {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img img {
    width: 35px;
    border-radius: 50%;
}

.cont-info {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-top {
    display: flex;
    justify-content: space-between;
}

.info-top .cont-date {
    color: gray;
    font-size: 0.8em;
    margin-right: 5px;
}

.cont-last-mess {
    font-size: 0.8;
    color: gray;
}

/* inner-dx */
.inner-dx{
    width: 70%;
    height: 100%;
    
}

.bar-dx {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    background-color: #EAEAEA;
    display: flex;
}

.bar-dx-img {
    height: 100%;
    width: 10%;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-dx-img img {
    width: 45px;
    border-radius: 50%;
}



.bar-dx-info{
    height: 100%;
    width: 80%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last-access {
    color: gray;
    font-size: 0.9em;
}

.br-dx-info {
        display: flex;
        width: 90%;
}

.bar-dx-buttons{
    height: 100%;
    width: 10%;
    /* background-color: teal; */
}

.bar-dx-buttons .dx-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-dx-buttons .dx-list> li {
    margin-left: 8px;
    position: relative;
}

.bar-dx-buttons .dx-list>li i:hover {
    color:#527A8C;
}

.bar-dx-buttons ul li i {
    color: #B1B1B1;
    
}
/* messages */
.try {
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: auto;
}

.messages {
    width: 99%;
    /* height: calc(100% - 120px); */
    min-height: 100%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */
    background-image: url(../img/mine.jpg);
}

.bubble {
    margin-top: 10px;
    width: 40%;
    height:fit-content;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.bubble-txt {
    margin-left: 5px;
    height: 80%;
    
}

.bubble-data {
    font-size: 0.8em;
    color: gray;
    align-self:flex-end;
    margin-right: 30px;

}

.menu-mini {
    align-self:flex-end;
    position: relative;
}

.menu-m {
    position: absolute;
    top: 17px;
    left: -83px;
    width: 150px;
    height: 100px;
    background-color: white;
    font-size: 0.9em;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    z-index: 999;
}
.my-message {
    align-self: flex-end;
    right: 0;
    background-color: white;
}

.menu-m ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu-m ul li {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-m ul li:hover {
    background-color: gray;
}

.answer {
    align-self: flex-start;
    left: 0;
    background-color: #D5F9BA;
}

/* bottom-bar-dx */

.bottom-bar-dx {
    width: 100%;
    height: 60px;
    background-color: #F3EEEA;
    display: flex;
}

.bt-bar-sx {
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    align-content: center;
    justify-content: center;
    position:relative ;
}

.bt-bar-sx i:hover,
.bt-bar-dx i:hover {
    color:#009687;
}

.bt-bar-sx i,
.bt-bar-dx i {
    font-size: 1.8em;
    align-self: center;
}

.bt-bar-center {
    height: 100%;
    width: 80%;
    /* background-color: hotpink; */
    display: flex;
}

.bt-bar-center input {
    width: 98%;
    height: 80%;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    align-self: center;
}

.bt-bar-dx {
    height: 100%;
    width: 10%;
    /* background-color: limegreen; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.splash {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #009687;
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
}

.welcome {
    width: 100%;
    height: 100%;
    background-color: #009687;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
}

.dropdown {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 29px;
    right: -20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    cursor: pointer;
    z-index: 999;
}

.dropdown li {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.dropdown ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown li:hover{
    background-color: lightslategray;
}

.none {
    display: none;
}

.darkmode {
    background-color: rgb(44, 41, 41);
    color: white;
}

.darktext {
    color: black;
}

.emoji-div {
    position: absolute;
    top: -100px;
    left: 0px;
    width: 200px;
    height: 100px;
    background-color: white;
}

.emoji-div ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    cursor: pointer;cursor: pointer;
    
}

.emoji-div ul li {
    margin-left: 10px;
    margin-top: 10px;
}

.emoji-div ul li:hover {
    background-color: gray;
}

/* animation loading */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }