* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

ul li {
    list-style: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.wall {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.green {
    background-color: #009687;
    width: 100%;
    height: 140px;
}

.beige {
    background-color: #DBDBD2;
    width: 100%;
    height: calc(100vh - 140px);
}

.inner-container {
    width: 80%;
    height: 90%;
    border: 1px solid lightgray;
    background-color: cyan;
    margin: auto;
    display: flex;
}
/* inner-sx */
.inner-sx{
width: 30%;
height: 100%;
background-color: white;
}

.bar-sx {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

.bar-sx-sx {
    display: flex;
    align-items: center;
}

.bar-sx-sx img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.bar-sx-dx ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.bar-sx-dx ul li {
    margin-left: 8px;
}

.bar-sx-dx ul li i {
    font-size: 1.3em;
}

/* sx-down */

.bar-sx-down {
    width: 100%;
    height: 70px;
    background-color:#8EDAFC;
    display: flex;
}

.sx-down-sx {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.sx-down-dx {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* search */
.bar-sx-search {
    width: 98%;
    margin: 0 auto;
    height: 20px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.search-sx {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-dx {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-dx input {
    width: 100%;
    border: none;
}

/* contacts */

.contacts {
    width: 95%;
    margin: 0 auto;
    height: calc(100% - 170px);
    /* background-color: chartreuse; */
    overflow-y: auto;
}

.contacts ul li {
    height: 60px;
    background-color: white;
    display: flex;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.contacts ul li:hover {
    background-color: lightgray;
}

.contact-img {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img img {
    width: 35px;
    border-radius: 50%;
}

.cont-info {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-top {
    display: flex;
    justify-content: space-between;
}

.cont-last-mess {
    font-size: 0.8;
    color: gray;
}

/* inner-dx */
.inner-dx{
    width: 70%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

.bar-dx {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    background-color: #EAEAEA;
    display: flex;
}

.bar-dx-img {
    height: 100%;
    width: 10%;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-dx-img img {
    width: 45px;
    border-radius: 50%;
}



.bar-dx-info{
    height: 100%;
    width: 80%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last-access {
    color: gray;
    font-size: 0.9em;
}

.bar-dx-buttons{
    height: 100%;
    width: 10%;
    /* background-color: teal; */
}

.bar-dx-buttons ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-dx-buttons ul li {
    margin-left: 8px;
}

/* messages */

.messages {
    width: 100%;
    height: calc(100% - 120px);
}

/* bottom-bar-dx */

.bottom-bar-dx {
    width: 100%;
    height: 60px;
    background-color: coral;
}